
.main-form-container{
  padding-left:100px;
  margin-top:100px;

}
.sign-up{
  font-family:fantasy;
  margin-left:80px;

}
.gender-select::after{
  content:"select gender";
}
input{
  border:none;
  font-size:16px;
  font-weight:-10px;
  font-family:Arial, Helvetica, sans-serif;
  border-style:solid;
  border-color:skyblue;
  border-width: 1px;
  padding-left:10px;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  background-color:rgba(227, 224, 224, 0.603);

}
input::placeholder{
  color:rgb(160, 159, 159);
  border:none;

}
label{
  font-size: 18px;
}
input:hover{
  border-color:skyblue;
  border:none;
}
select{
  border:none;
  font-size:14px;
  border-color:skyblue;
  border-width:1px;
  border-style: solid;
  padding-left:10px;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  background-color:rgba(227, 224, 224, 0.603);
}
button{
  color:white;
  background-color:rgb(17, 132, 247);
  border:none;
  border-radius:20px;
  padding-left:300px;
  padding-top:20px;
  padding-right:300px;
  padding-bottom:20px;
  font-size:18px;
}
.review{
  padding-right:400px;
  background-color:white;
  border:none;
}